{erl_opts, [verbose]}.
{deps, []}.
{profiles, [
    {example1, [
        {erl_opts, [debug_info, verbose]},
        {escript_name, "example1"},
        {escript_emu_args, "%%! -escript main example1\n"}
    ]},
    {example2, [
        {erl_opts, [debug_info, verbose]},
        {escript_name, "example2"},
        {escript_emu_args, "%%! -escript main example2\n"}
    ]},
    {example3, [
        {erl_opts, [debug_info, verbose]},
        {escript_name, "example3"},
        {escript_emu_args, "%%! -escript main example3\n"}
    ]},
    {test, [
        {erl_opts, [debug_info, verbose]}
    ]}
]}.
